@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@keyframes floatY {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes floatX {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.shape-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  animation: floatAnimation 6s ease-in-out infinite;
  /* Adjust these to position your shape */
  top: 20%;
  left: 10%;
}

.shape-rect {
  position: absolute;
  width: 120px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  animation: floatAnimation 8s ease-in-out infinite;
  /* Adjust these to position your shape */
  bottom: 30%;
  right: 15%;
}

.shape-triangle {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 120px solid rgba(255,255,255,0.3);
  position: absolute;
  top: 10%;
  left: 75%;
  animation: floatY 7s infinite ease-in-out;
}

.shape-hexagon {
  width: 80px;
  height: 46.19px;
  background-color: rgba(255,255,255,0.3);
  position: absolute;
  top: 50%;
  left: 85%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  animation: rotateAnimation 20s infinite linear;
}

/* Adding more circles and rectangles with different sizes and animations */
.shape-circle-small {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  animation: floatX 10s ease-in-out infinite;
  top: 80%;
  left: 5%;
}

.shape-rect-large {
  position: absolute;
  width: 180px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  animation: floatY 12s ease-in-out infinite;
  bottom: 10%;
  right: 20%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vinyl {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  display: inline-block;
  background-image: url('/vinyl.png'); /* Update path to your image */
  background-size: contain;
  background-repeat: no-repeat;
}

.vinyl.playing {
  animation: spin 2s infinite linear;
}
