@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vinyl {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  display: inline-block;
  background-image: url('/vinyl.png'); /* Update path to your image */
  background-size: contain;
  background-repeat: no-repeat;
}

.vinyl.playing {
  animation: spin 2s infinite linear;
}
